parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Cannot access offset ''enabled'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Cannot access offset ''key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Configuration/BundleConfiguration.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/ModelflowAiBundle.php

		-
			message: '#^Parameter \#1 \$array of method ModelflowAi\\Integration\\Symfony\\ModelflowAiBundle\:\:flattenArray\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/ModelflowAiBundle.php

		-
			message: '#^Parameter \#1 \$name of method Symfony\\Bundle\\FrameworkBundle\\Console\\Application\:\:find\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ModelflowAiBundle.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\<string, array\<array\<ModelflowAi\\DecisionTree\\Criteria\\CriteriaInterface\>\|ModelflowAi\\DecisionTree\\Criteria\\CriteriaInterface\|string\>\|bool\|int\|string\>\)\: bool\)\|null, Closure\(array\)\: \(array\<array\<ModelflowAi\\DecisionTree\\Criteria\\CriteriaInterface\>\|ModelflowAi\\DecisionTree\\Criteria\\CriteriaInterface\|string\>\|bool\|int\|string\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/ModelflowAiBundle.php

		-
			message: '#^Binary operation "\." between ''@'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Functional/ModelflowAiBundleTest.php

		-
			message: '#^Cannot call method __toString\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Functional/ModelflowAiBundleTest.php
