includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - config
        - src
        - tests
    level: max
    excludePaths:
        analyseAndScan:
            - config/reference.php
            - vendor/*
            - var/*
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
