parameters:
    paths:
        - config
        - src
        - tests
    level: max
    excludePaths:
        - vendor/*
        - var/*
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    checkGenericClassInNonGenericObjectType: false
